:root {
    --black: #0b0b0c;
    --hotmag: #c02026;
    --magenta: #c02026;
    --aqua: #b81c1c;
    --white: #d4c8c8;
    --font-size: 1.3rem;
    --mono: "Rakkas", serif;
    --sans: Rakkas, serif;
}



html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--mono);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    opacity: 0.75;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    margin: 0;
    font-family: var(--sans);
    font-size: 230%;
}
a:link, a:visited, a:active {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    color: var(--hotmag);
    text-decoration: none;
}
.gradient {
    background: linear-gradient(90deg, rgb(255, 252, 252) 0%, rgb(192,32,38) 100%);
    height: 2px;
}
nav {
    font-size: 80%;
    padding: 4rem 1rem;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}
nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
}
nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--aqua);
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--magenta);
}
.button {
    background-color: var(--magenta);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}
.button:hover {
    color: white;
    background-color: var(--hotmag);
}
@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: inherit;
    right: inherit;
    bottom: 0;
    z-index: -1;
}

.footer {
    font-size: 18px;
    width: 90%;
    color: #fff;
    padding: 30px 0;
    border-radius: 10px;
}
  
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
  
.footer-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

  
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer-menu li:last-child {
    margin-right: 0;
}
  
.footer-menu a {
    color: #fff;
    text-decoration: none;
}
  
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.social-icons li {
    display: inline-block;
    margin-right: 10px;
}
  
.social-icons li:last-child {
    margin-right: 0;
}
  
.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
  
.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
  
.footer-bottom p {
    margin: 0;
}
  
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .footer-menu{
        text-align: left;
    }
    .footer-menu li {
      display: block;
      margin-bottom: 10px;
    }
}
  
.attribute{
    position: absolute;
    bottom: 10px;
}